name: Deploy to Github Pages

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

env:
  ROOT_BASE_URL: ${{ vars.ROOT_BASE_URL }}

jobs:
  deploy:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Build
        run: |
          npm install -g yarn
          yarn install --immutable
          yarn test:coverage
          yarn lint
          yarn build

      - name: Deploy to GitHub Pages
        if: github.ref == 'refs/heads/main'
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
