name: Deploy to Github Pages

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  deploy:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install yarn and dependencies
        run: |
          npm install -g yarn
          yarn install --immutable
          yarn playwright install

      - name: Lint
        run: yarn lint

      - name: Type check
        run: yarn type-check

      - name: Unit test
        run: yarn test:coverage

      - name: Run e2e tests
        run: yarn e2e
        env:
          CI: true

      - name: Upload Playwright test report
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 5

      - name: Build
        run: yarn build
        env:
          ROOT_BASE_URL: ${{ vars.ROOT_BASE_URL }}

      - name: Deploy to GitHub Pages
        if: github.ref == 'refs/heads/main'
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
